/archive.zip
/archive1.zip
ERModelling.docx
DeclarationOfOriginality_v1.1(1).docx
ERModelling/EntitySets.xlsx
ERModelling/EntitySetsCSV.csv
Program/matches_1991_2023_cleaned.csv
Program/matches_1991_2023_cleaned.csv
Program/world_cup_women_cleaned.csv
Program/matches_1991_2023_cleaned.csv
.gitignore
Program/matches_1991_2023_cleaned.csv
.gitignore
Data/data.csv
.gitignore
Program/bigDataCleaned.csv
.gitignore
Program/EventData.csv
Program/matches_1991_2023.csv
.gitignore
Program/Officials.csv
Program/matches_1991_2023.csv
Data/event.xlsx
Program/matches_1991_2023.csv
Program/matches_1991_2023.csv
Program/UpdatedOfficials.csv
.gitignore
